<?xml version = "1.0" encoding = "UTF-8" standalone = "yes" ?>
<config>
    <histories><![CDATA[ada, afr, ame, bee, blu, bou, brc, bre, cen, cit, cla, cri, dol, exa, fra, frn, haf, hao, haz, hic, hop, int, itx, kec, keg, ker, kev, lac, lre, lex, mad, mon, mou, mts, new, ovw, owi, pac, pub, ric, rec, spo, spr, wee, win]]></histories>
</config>
